html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    display: block;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    padding: 0;
    font-size: 28px;
    margin: 0;
}

.container{
    display: block;
/*background-color: aqua;*/
width: 100%;
    min-height: 100px;
    padding-top: 2%;
}
.myTable {
    display: block;
    color: black;
    background-color: #CCC;
    height: 100%;
    padding: 10px;
    margin: 10px 10%;
}

.novisits{
    margin: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

td, th {
    text-align: center;
    border: 1px solid black;
    height: 55px;
    vertical-align: center;
/*width: 10%;*/
}

tr {
    text-align: center;
    vertical-align: center;
}

.table{
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.date{
    width: 25%;
}

.duration{
    width: 20%;
}

.animal{
    width: 20%;
}

.status {
    width: 20%;
}

.price{
    width: 15%;
}
