.date{
    width: 15%;
}

.duration{
    width: 10%;
}

.animal{
    width: 10%;
}

.animalType{
    width: 10%;
}

.animalOwner{
    width: 15%;
}

.status {
    width: 10%;
}

.officeName{
    width: 10%;
}

.vet{
    width: 15%;
}

.price{
    width: 5%;
}
