<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="VetApp" />
    <meta name="keywords" content="VetApp, Vet, App" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="vetsStyle.css" type="text/css" />
    <title>VetApp</title>
</head>
<body>
<div th:switch="${vets}"  class="container">
    <h2 th:case="null" class="no">No Vets!</h2>
    <div th:case="*" class="myTable">
        <h1>Number of Vets: <span th:text="${#lists.size(vets)}">2</span></h1>
        <table class="table">
            <thead>
            <tr>
                <th class="name">Name</th>
                <th class="surname">Surname</th>
                <th class="photo">Photo</th>
                <th class="hoursStart">Office Hours Start</th>
                <th class="hoursEnd">Office Hours End</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.name}"></td>
                <td th:text="${vet.surname}"></td>
                <td th:text="${vet.photo}"></td>
                <td th:text="${vet.officeHoursStart}"></td>
                <td th:text="${vet.officeHoursEnd}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
