<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="VetApp" />
  <meta name="keywords" content="VetApp, Vet, App" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>VetApp</title>
</head>
<body>
<div th:switch="${visits}"  class="container">
  <h2 th:case="null" class="novisits">No Visits!</h2>
  <div th:case="*" class="myTable">
    <h1>Number of Visits: <span th:text="${#lists.size(visits)}">2</span></h1>
    <table class="table">
      <thead>
      <tr>
        <th class="date">Date</th>
        <th class="duration">Duration</th>
        <th class="animal">Animal</th>
        <th class="status">Status</th>
        <th class="price">Price</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="visit : ${visits}">
        <td th:text="${visit.startDate}"></td>
        <td th:text="${visit.duration}"></td>
        <td th:text="${visit.animalKind}"></td>
        <td th:text="${visit.status}"></td>
        <td th:text="${visit.price}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
